<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.ust.testngnew.AppTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>sslc</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>btech</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSub</td>
<td>calc </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testAdd</td>
<td>calc </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testMsg</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testAdditionDataProvider</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>hse</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
