<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>calc</td><td>AppTest.testSub()[pri:2, instance:com.ust.testngnew.AppTest@2dde1bff]<br/>AppTest.testAdd()[pri:1, instance:com.ust.testngnew.AppTest@2dde1bff]<br/></td></tr>
</table>
