<h2>Methods that were not run</h2><table>
<tr><td>com.ust.testngnew.AppTest.testMsg<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>check the message</i></td></tr>
<tr><td>com.ust.testngnew.AppTest.hse</td></tr>
<tr><td>com.ust.testngnew.AppTest.testAdditionDataProvider<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>adition with data provide</i></td></tr>
<tr><td>com.ust.testngnew.AppTest.sslc</td></tr>
<tr><td>com.ust.testngnew.AppTest.btech</td></tr>
</table>