<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Calculator program</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2c4ed">  <td>21/11/30 20:55:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testSub()[pri:2, instance:com.ust.testngnew.AppTest@2dde1bff]">testSub</td> 
  <td>main@210281271</td>   <td></td> </tr>
<tr bgcolor="a2c4ed">  <td>21/11/30 20:55:17</td>   <td>-15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testAdd()[pri:1, instance:com.ust.testngnew.AppTest@2dde1bff]">testAdd</td> 
  <td>main@210281271</td>   <td></td> </tr>
<tr bgcolor="a2c4ed">  <td>21/11/30 20:55:17</td>   <td>-57</td> <td title="&gt;&gt;AppTest.setup()[pri:0, instance:com.ust.testngnew.AppTest@2dde1bff]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@210281271</td>   <td></td> </tr>
</table>
