<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9e4eb">  <td>21/11/30 20:55:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testAdditionDataProvider(int,int,int)[pri:0, instance:com.ust.testngnew.AppTest@6a84a97d]">testAdditionDataProvider</td> 
  <td>main@2087785333</td>   <td></td> </tr>
<tr bgcolor="a9e4eb">  <td>21/11/30 20:55:29</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testMsg()[pri:0, instance:com.ust.testngnew.AppTest@6a84a97d]">testMsg</td> 
  <td>main@2087785333</td>   <td></td> </tr>
<tr bgcolor="a9e4eb">  <td>21/11/30 20:55:29</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testAdd()[pri:1, instance:com.ust.testngnew.AppTest@6a84a97d]">testAdd</td> 
  <td>main@2087785333</td>   <td></td> </tr>
<tr bgcolor="a9e4eb">  <td>21/11/30 20:55:29</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testSub()[pri:2, instance:com.ust.testngnew.AppTest@6a84a97d]">testSub</td> 
  <td>main@2087785333</td>   <td></td> </tr>
<tr bgcolor="a9e4eb">  <td>21/11/30 20:55:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testAdditionDataProvider(int,int,int)[pri:0, instance:com.ust.testngnew.AppTest@6a84a97d]">testAdditionDataProvider</td> 
  <td>main@2087785333</td>   <td></td> </tr>
<tr bgcolor="a9e4eb">  <td>21/11/30 20:55:29</td>   <td>-75</td> <td title="&gt;&gt;AppTest.setup()[pri:0, instance:com.ust.testngnew.AppTest@6a84a97d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2087785333</td>   <td></td> </tr>
<tr bgcolor="a9e4eb">  <td>21/11/30 20:55:29</td>   <td>-27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.btech()[pri:0, instance:com.ust.testngnew.AppTest@6a84a97d]">btech</td> 
  <td>main@2087785333</td>   <td></td> </tr>
<tr bgcolor="a9e4eb">  <td>21/11/30 20:55:29</td>   <td>-41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.sslc()[pri:0, instance:com.ust.testngnew.AppTest@6a84a97d]">sslc</td> 
  <td>main@2087785333</td>   <td></td> </tr>
<tr bgcolor="a9e4eb">  <td>21/11/30 20:55:29</td>   <td>-30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.hse()[pri:0, instance:com.ust.testngnew.AppTest@6a84a97d]">hse</td> 
  <td>main@2087785333</td>   <td></td> </tr>
<tr bgcolor="a9e4eb">  <td>21/11/30 20:55:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testAdditionDataProvider(int,int,int)[pri:0, instance:com.ust.testngnew.AppTest@6a84a97d]">testAdditionDataProvider</td> 
  <td>main@2087785333</td>   <td></td> </tr>
</table>
